body {
  color: #323232;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Archivo', sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
}


  dl {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  dd {
      display: inline;
  }

  #swipe {
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
    height: 10%;
    width: 10%;

  }

  @-webkit-keyframes blink {
      0% {
          opacity: 0.5;
      }
      50% {
          opacity: 0;
      }
      100% {
          opacity: 0.5;
      }
  }


  #swipe {
      -webkit-animation: blink 2s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation: blink 2s;
      -moz-animation-iteration-count: infinite;
      -o-animation: blink 2s;
      -o-animation-iteration-count: infinite;

  }

  #menuplayer {
    display: none;
  }

  #menu {
    display: none;
  }

  #player {
    position: relative;
    top: 20%;
    left: -5%;
  }


.scrolling-wrapper {
  margin-left: 20px;
  margin-right: -50px;
  overflow-x: scroll;
  position: absolute;
  float: left;
  left: 0px;
  align-content: center;
  top: 20%;
  right: 0px;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
   display: none;
 }
}

img {
    height: 60%;
}

span {
  position: absolute;
  top: 25px;
  right: 2%;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#contatti {
  position: absolute;
  top: 20%;
  left: -3%;
  font-size: 60px;
}

#indietro {
  position: fixed;
  max-height: 40px;
  max-width: 40px;
  z-index: 1;
  left: 30;
  top: -5;
  font-size: 40px;
}

h1{
  font-weight: 2200;
  font-size: 200%;
  position: relative;
  left: -30px;
  top: -15px;
  max-width: 50px;
  max-height: 50px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;
}
