body {
  color: #323232;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Archivo', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

  dl {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  dd {
      display: inline;
  }





#swipe {
  position: absolute;
  bottom: 5%;
  left: 50%;
  right: 50%;
  height: 10%;
  width: 10%;

}

@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}


#swipe {
    -webkit-animation: blink 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 2s;
    -o-animation-iteration-count: infinite;

}

#menuplayer {
  display: none;
}

  #menu {
    display: none;
  }

.scrolling-wrapper {
  margin-left: 20px;
  margin-right: -50px;
  overflow-x: scroll;
  position: absolute;
  float: left;
  left: 0px;
  width: 93%;
  align-content: center;
  top: 20%;
  right: 0px;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
 }
}

.scroller-impaginati {
  position: absolute;
  left: 12%;
  width: 93%;
  height: auto;
  overflow-x: scroll;
  float: left;
  align-content: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
   }

}



.images {
  position: relative;
  right: 5%;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.spiega {
  position: relative;
  left: 10%;
  font-size: 10px;
  max-width: 500px;
}

#testo {
  font-size: 20px;
  left: 6%;
  max-width: 450px;
}

img {
    height: 60%;
    width: auto;
}

span {
  position: absolute;
  top: 25px;
  right: 10%;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1002;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 20;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#indietro {
  position: fixed;
  max-height: 30px;
  max-width: 40px;
  z-index: 1;
  left: 3%;
  font-size: 40px;
}


#indietroplayer {
  position: fixed;
  max-height: 30px;
  max-width: 40px;
  z-index: 1;
  left: 30;
  top: -5;
  font-size: 40px;
}

#player {
  position: relative;
  top: 20%;
  left: -8%;
}

#playerspiega {
  position: relative;
  width: 71%;
  height: auto;
  left: 4%;
}

#contatti {
  display: none;
}

#contattidx {
  display: none;
}

#contattimobile {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
  max-width: 560px;
  padding-right: 5%;
  padding-left: 5%;
}

h1{
  font-weight: 2200;
  font-size: 150%;
  position: relative;
  left: -30px;
  top: -15px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;
}

.spinner {
  position: fixed;
  top: 0;
  width: 300px;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 20%;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}



#loader {
    display: block;
    position: fixed;
    margin-left: 20%;
    top: 30%;

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
    }

    #loader:after {
        content: "";
        position: absolute;
    }




#loader-wrapper .loader-section {
    position: fixed;
    top: 8%;
    width: 51%;
    height: 100%;
    background: #ffffff;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;

}

#loader-wrapper .loader-section.section-right {
    right: 0;

}

/*loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX (-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX (100%);
    transform: translateX(100%);

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

.loader #loader {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
}
