body {
  color: #323232;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Archivo', sans-serif;

}




#menu-narrow {
  position: absolute;
  width: 200px;
  left: 0px;
  top: 10px;
  right: 0px;
  bottom: 0px;
  height: 40px;
  font-weight: bold;
  line-height: 1.6;
  font-size: 13px;
  background-color: #FFFFFF;
  font-family: 'Archivo', sans-serif;
  overflow: scroll;
  float: left;
  display: inline;

}
  dl {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  dd {
      display: inline;
  }


#ambiti {
  display: none;
}

#slider {
  overflow: scroll;
  position: absolute;
  float: left;
  left: 0px;
  top: 50px;
  right: 0px;
  bottom:
  height: 100%;

}

#slider figure img {
  max-width: 900px;
  max-height: 320px;
}


#slider figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 0px;
  height: 900px;
  box-sizing: border-box;

}

#slidercontacts {
  position: absolute;
  width: 200px;
  top: 45px;
  right: 0px;
  line-height: 1.4;
  bottom: 0px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
  max-width: 200px;
  left: 700px;
  top: 50px;
  right: -100px;
  width: 80px;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;

}

#slidercontacts figure img {

  height: 82%;
}


#slidercontacts figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 200px;
}

#slidercontatti {
  position: absolute;
  width: 200px;
  left: 0px;
  top: 45px;
  right: 0px;
  line-height: 1.4;
  bottom: 0px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
  max-width: 200px;
  left: 100px;
  top: 50px;
  right: -100px;
  width: 80px;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;

}

#slidercontatti figure img {

  height: 82%;
}


#slidercontatti figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 200px;
}

h1{
  font-weight: 2200;
  font-size: 20px;
  position: relative;
  left: -10px;
  top: -30px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;
}
