body {
  color: #323232;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Archivo', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

  dl {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  dd {
      display: inline;
  }





#swipe {
  position: absolute;
  bottom: 5%;
  left: 50%;
  right: 50%;
  height: 10%;
  width: 10%;

}

@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}


#swipe {
    -webkit-animation: blink 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 2s;
    -o-animation-iteration-count: infinite;

}

#menuplayer {
  display: none;
}

  #menu {
    display: none;
  }

.scrolling-wrapper {
  margin-left: 20px;
  margin-right: -50px;
  overflow-x: scroll;
  position: absolute;
  float: left;
  left: 0px;
  width: 93%;
  align-content: center;
  top: 20%;
  right: 0px;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
   display: none;
 }
}

img {
    height: 60%;
}

span {
  position: absolute;
  top: 25px;
  right: 10%;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 20;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#slidercontacts {
  position: absolute;
  width: 200px;
  top: 45px;
  right: 0px;
  line-height: 1.4;
  bottom: 0px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
  max-width: 200px;
  left: 700px;
  top: 50px;
  right: -100px;
  width: 80px;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;

}

#slidercontacts figure img {

  height: 82%;
}


#slidercontacts figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 200px;
}

#slidercontatti {
  position: absolute;
  width: 200px;
  left: 0px;
  top: 45px;
  right: 0px;
  line-height: 1.4;
  bottom: 0px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
  max-width: 200px;
  left: 100px;
  top: 50px;
  right: -100px;
  width: 80px;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;

}

#slidercontatti figure img {

  height: 82%;
}


#slidercontatti figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 200px;
}

#indietro {
  position: fixed;
  max-height: 30px;
  max-width: 40px;
  z-index: 1;
  left: 30;
  top: -5;
  font-size: 40px;
}

#player {
  position: relative;
  top: 20%;
  left: -8%;
}

#contatti {
  position: absolute;
  top: 15%;
  left: -5%;
  font-size: 60px;
}

h1{
  font-weight: 2200;
  font-size: 150%;
  position: relative;
  left: -30px;
  top: -15px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;
}
