body {
  color: #323232;
  background-color: #FFFFFF;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Archivo', sans-serif;
  font-size: 13px;
}


a {
  text-decoration: none;
  color: inherit;
}

.artecinema {
  background-color: #000000;
  position:fixed;
  top:15%;
  left:15%;
  width:70%;
  height:70%;"
}

#menuplayer {
  display: none;
}

#menu {
  display: block;
  position: absolute;
  width: 180px;
  left: 0px;
  top: 45px;
  right: 0px;
  bottom: 0px;
  height: 89%;
  font-weight: bold;
  line-height: 1.6;
  background-color: #FFFFFF;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  overflow: hidden;

}

span {
display: none;
}

#mySidenav {
  display: none;
}

#scroller {
  position: absolute;
  width: 84.5%;
  bottom: 10%;
}

#footer {
  position: absolute;
  bottom: 1px;
  font-size: 10px;
}


.scrolling-wrapper {
  position: absolute;

  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  float: left;
  left: 200px;
  top: 10%;
  bottom: 10%;
  height: 85%;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
   display: none;
 }
}

img {
    object-fit: contain;
    height: 100%;
}

#swipe {
  display: none;
}

#slidercontacts {
  position: absolute;
  width: 200px;
  top: 45px;
  right: 0px;
  line-height: 1.4;
  bottom: 0px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
  max-width: 200px;
  left: 700px;
  top: 50px;
  right: -100px;
  width: 80px;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;

}

#slidercontacts figure img {

  height: 82%;

}


#slidercontacts figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 200px;

}

#slidercontatti {
  position: absolute;
  width: 200px;
  left: 0px;
  top: 45px;
  right: 0px;
  line-height: 1.4;
  bottom: 0px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
  max-width: 200px;
  left: 100px;
  top: 50px;
  right: -100px;
  width: 80px;
  mix-blend-mode: color-burn;
  mix-blend-mode:saturation;


}

#slidercontatti figure img {

  height: 82%;

}


#slidercontatti figure {
  width: 300px;
  position: relative;
  width: 500%;
  margin: 0;
  top: 20px;
  left: 200px;

}

h1{
  font-weight: 2200;
  font-size: 20px;
  position: relative;
  left: -10px;
  top: -30px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;

}
