body {
  color: #323232;
  background-color: #FFFFFF;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Favorit', sans-serif;
  font-size: 13px;
}


a {
  text-decoration: none;
  color: inherit;
}

.artecinema {
  background-color: #000000;
  position:fixed;
  top:15%;
  left:15%;
  width:70%;
  height:70%;"
}

.about {
  position:fixed;
  top:7%;
  left:15%;
  width:70%;
  height:70%;"
}

#testo {
  font-size: 20px;
  left: 10%;
  max-width: 1000px;
}

#menuplayer {
  display: none;
}

#titolo {
  position: relative;
  top: -5%;
  left: -2%;
  width: 7%;
  height: 7%;
  z-index: 1013;
}

#menu {
  display: block;
  position: absolute;
  width: 100px;
  left: -1%;
  right: 0px;
  top: 7%;
  font-weight: lighter;
  line-height: 1.6;
  background-color: #FFFFFF;
  font-family: 'Favorit', sans-serif;
  font-size: 15px;
  z-index: 1003;
}

#email {
  display: block;
  position: absolute;
  width: 100px;
  left: -1%;
  right: 0px;
  bottom: 2%;
  font-weight: lighter;
  line-height: 1.6;
  background-color: #FFFFFF;
  background-blend-mode: color-dodge;
  font-family: 'Favorit', sans-serif;
  font-size: 15px;
  z-index: 1003;
}

span {
display: none;
}

#mySidenav {
  display: none;
}

#scroller {
  position: absolute;
  bottom: 10%;
  width: 93%;
  z-index: 1006;
  top: 10%;
}

.scrolling-wrapper {
  position: absolute;
  left: 6%;
  top: 10%;
  bottom: 10%;
  height: 85%;
  width: 100%;
  z-index: 1005;
  overflow-x: scroll;
  float: left;
  align-content: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
   display: none;
 }
}

#footer {
  display: none;
  position: fixed;
  bottom: 5%;
  font-size: 11px;
  z-index: 1005;
}


img {
    object-fit: contain;
    height: 100%;

}

#swipe {
  display: none;
}

h1{
  font-weight: 2200;
  font-size: 20px;
  position: relative;
  left: -10px;
  top: -30px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;
}

.web {
  position: fixed;
  top: -120%;
  left:30%;
}



#contattimobile {
  position: fixed;
  top: 0;
  left: 20%;
  height: 100%;
  width: auto;
  max-height: 680px;
  overflow-y: scroll;
}

#player {
  position: relative;
  top: 8%;
  left: 15%;
}

#playerspiega {
  position: relative;
  top: 8%;
  left: 6%;
  width: 80%;
  height: auto;
}

.spiega {
  position: relative;
  left: 10%;
  max-width: 1100px;
  overflow-x: hidden;
}

.scroller-impaginati {
  position: absolute;
  left: 12%;
  width: 80%;
  height: auto;
  overflow-x: scroll;
  float: left;
  align-content: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
   }




@font-face {
    font-family: 'Favorit';
    src: url('Favorit-Light.woff2') format('woff2'),
        url('Favorit-Light.woff') format('woff');
    font-style: normal;
}
