body {
  color: #323232;
  background-color: #FFFFFF;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Favorit', sans-serif;
  font-size: 13px;
}


a {
  text-decoration: none;
  color: inherit;
}

.artecinema {
  background-color: #000000;
  position:fixed;
  top:15%;
  left:15%;
  width:70%;
  height:70%;"
}

.about {
  position:fixed;
  top:7%;
  left:15%;
  width:70%;
  height:70%;"
}

#testo {
  font-size: 20px;
  left: 10%;
  max-width: 1000px;
}

#menuplayer {
  display: none;
}

#titolo {
  position: relative;
  top: -5%;
  left: -2%;
  width: 7%;
  height: 7%;
  z-index: 1013;
}

#menu {
  display: block;
  position: absolute;
  width: 100px;
  left: -1%;
  right: 0px;
  top: 7%;
  font-weight: lighter;
  line-height: 1.6;
  background-color: #FFFFFF;
  background-blend-mode: color-dodge;
  font-family: 'Favorit', sans-serif;
  font-size: 15px;
  z-index: 1003;
}

#email {
  display: block;
  position: absolute;
  width: 100px;
  left: -1%;
  right: 0px;
  bottom: 2%;
  font-weight: lighter;
  line-height: 1.6;
  background-color: #FFFFFF;
  background-blend-mode: color-dodge;
  font-family: 'Favorit', sans-serif;
  font-size: 15px;
  z-index: 1003;
}

span {
display: none;
}

#mySidenav {
  display: none;
}

#scroller {
  position: absolute;
  bottom: 10%;
  width: 93%;
  z-index: 1006;
  top: 10%;
}

.scrolling-wrapper {
  position: absolute;
  left: 6%;
  top: 10%;
  bottom: 10%;
  height: 85%;
  width: 100%;
  z-index: 1005;
  overflow-x: scroll;
  float: left;
  align-content: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
   display: none;
 }
}

#footer {
  display: none;
  position: fixed;
  bottom: 5%;
  font-size: 11px;
  z-index: 1005;
}


img {
    object-fit: contain;
    height: 100%;

}

#swipe {
  display: none;
}

h1{
  font-weight: 2200;
  font-size: 20px;
  position: relative;
  left: -10px;
  top: -30px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 100%;
}

.web {
  position: fixed;
  top: -120%;
  left:30%;
}



#contattimobile {
  position: fixed;
  top: 0;
  left: 20%;
  height: 100%;
  width: auto;
  max-height: 680px;
  overflow-y: scroll;
}

#player {
  position: relative;
  top: 8%;
  left: 15%;
}

#playerspiega {
  position: relative;
  top: 8%;
  left: 6%;
  width: 80%;
  height: auto;
}

.spiega {
  position: relative;
  left: 10%;
  max-width: 1100px;
  overflow-x: hidden;
}

.scroller-impaginati {
  position: absolute;
  left: 12%;
  width: 80%;
  height: auto;
  overflow-x: scroll;
  float: left;
  align-content: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
   }


.spinner {
  z-index:1011;
  margin: 100px auto;
  width: 300px;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 20%;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@font-face {
    font-family: 'Favorit';
    src: url('Favorit-Light.woff2') format('woff2'),
        url('Favorit-Light.woff') format('woff');
    font-style: normal;
}


#loader {
    display: block;
    position: fixed;
    left: 40%;
    top: 30%;
    z-index: 1002;
    }

    #loader:before {
        content: "";
        position: absolute;
    }

    #loader:after {
        content: "";
        position: absolute;
    }




#loader-wrapper .loader-section {
    position: fixed;
    top: 8%;
    width: 51%;
    height: 100%;
    background: #ffffff;
    z-index: 1001;
}

#loader-wrapper .loader-section.section-left {
    left: 0;

}

#loader-wrapper .loader-section.section-right {
    right: 0;

}

/*loaded styles */u
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX (-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX (100%);
    transform: translateX(100%);

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

.loader #loader {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
}
